<mat-card>
    <mat-card-title>About us</mat-card-title>
    <mat-card-content>
        <div>
            Grizzly Board is crated with one main goal to help developers in their daily work. That's why Grizzly Board is design and created by developers for developers.
            Our team know all the specific needs that every developer has during their daily work. We creat our product with care and we are open for every idea that our clients will have.
            The organization at work is the main key for happy workflow. We all know that and Grizzly Board is here to give you this magic. You only need to register first and after that to login and start craeting you tasks.
            
            <p>A kanban board is an agile project management tool designed to help visualize work, limit work-in-progress, and maximize efficiency (or flow). It can help both agile and DevOps teams establish order in their daily work. Kanban boards use cards, columns, and continuous improvement to help technology and service teams commit to the right amount of work, and get it done!</p>
            <p>As the kanban system gained favor with software and engineering teams, kanban boards underwent a digital transformation. Digital boards allow teams that do not share a physical office space to use kanban boards remotely and asynchronously.</p>
        </div>
        <div>
            <iframe title="location" width="300" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Central%20park,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        
    </mat-card-content>
</mat-card>