/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, app-root {
    height: 100%;
    height: 100vh;
  }
  
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e69a8d;
}

app-root {
    display:flex;
    flex-direction: column;
    height: 100vh;
}
