mat-form-field {
    width: 40vw
}

mat-card {
    display: flex;
    flex-direction: column;
    margin: 9em;
    align-items: center;
}

.button button {
    background-color: #603f83ff !important;
}

div.button {
    text-align: center;
    margin-bottom: 10px;
}
